@page "/admin/crashes/edit/{id:int}"
@page "/admin/crashes/create"
@inherits OwningComponentBase<ICrashesRepository>

<style>
    div.validation-message {color: rgb(220,53,69); font-weight:500}
</style>

<h3 class="bg-@ThemeColor text-white text-center p-1">@TitleText Crash </h3>

<EditForm Model="c" OnValidSubmit="SaveCrash">
    <DataAnnotationsValidator></DataAnnotationsValidator>

        <div class="form-group">
            <label>Crash Id</label>
            <input class="form-control" disabled value="@c.CRASH_ID" />
        </div>

        <div class="form-group">
            <label>Date & Time:</label>
            <ValidationMessage For="@(() => c.CRASH_DATETIME)"></ValidationMessage>
            <InputDate class="form-control" @bind-Value="c.CRASH_DATETIME"></InputDate>
        </div>
        <div class="form-group">
            <label>Route:</label>
            <ValidationMessage For="@(() => c.ROUTE)"></ValidationMessage>
            <InputText class="form-control" @bind-Value="c.ROUTE"></InputText>
        </div>
        <div class="form-group">
            <label>MilePoint:</label>
            <ValidationMessage For="@(() => c.MILEPOINT)"></ValidationMessage>
            <InputNumber class="form-control" @bind-Value="c.MILEPOINT"></InputNumber>
        </div>
        <div class="form-group">
            <label>Latitude:</label>
            <ValidationMessage For="@(() => c.LAT_UTM_Y)"></ValidationMessage>
            <InputNumber class="form-control" @bind-Value="c.LAT_UTM_Y"></InputNumber>
        </div>
        <div class="form-group">
            <label>Longtude:</label>
            <ValidationMessage For="@(() => c.LONG_UTM_X)"></ValidationMessage>
            <InputNumber class="form-control" @bind-Value="c.LONG_UTM_X"></InputNumber>
        </div>
        <div class="form-group">
            <label>Road Name:</label>
            <ValidationMessage For="@(() => c.MAIN_ROAD_NAME)"></ValidationMessage>
            <InputText class="form-control" @bind-Value="c.MAIN_ROAD_NAME"></InputText>
        </div>
        <div class="form-group">
            <label>City:</label>
            <ValidationMessage For="@(() => c.CITY_ID)"></ValidationMessage>
            <InputNumber class="form-control" @bind-Value="c.CITY_ID"></InputNumber>
        </div>
        <div class="form-group">
            <label>County:</label>
            <ValidationMessage For="@(() => c.COUNTY_ID)"></ValidationMessage>
            <InputNumber class="form-control" @bind-Value="c.COUNTY_ID"></InputNumber>
        </div>
        <div class="form-group">
            <label>Crash Severity:</label>
            <ValidationMessage For="@(() => c.CRASH_SEVERITY_ID)"></ValidationMessage>
            <InputNumber class="form-control" @bind-Value="c.CRASH_SEVERITY_ID"></InputNumber>
        </div>
        <div class="form-group">
            <label>Work Zone Related:</label>
            <ValidationMessage For="@(() => c.WORK_ZONE_RELATED)"></ValidationMessage>
            <InputCheckbox class="form-control" @bind-Value="c.WORK_ZONE_RELATED"></InputCheckbox>
        </div>
        <div class="form-group">
            <label>Pedestrian Involved:</label>
            <ValidationMessage For="@(() => c.PEDESTRIAN_INVOLVED)"></ValidationMessage>
            <InputCheckbox class="form-control" @bind-Value="c.PEDESTRIAN_INVOLVED"></InputCheckbox>
        </div>
        <div class="form-group">
            <label>Cyclist Involved:</label>
            <ValidationMessage For="@(() => c.BICYCLIST_INVOLVED)"></ValidationMessage>
            <InputCheckbox class="form-control" @bind-Value="c.BICYCLIST_INVOLVED"></InputCheckbox>
        </div>
        <div class="form-group">
            <label>Motorcycle Involved:</label>
            <ValidationMessage For="@(() => c.MOTORCYCLE_INVOLVED)"></ValidationMessage>
            <InputCheckbox class="form-control" @bind-Value="c.MOTORCYCLE_INVOLVED"></InputCheckbox>
        </div>
        <div class="form-group">
            <label>Improper Restraint:</label>
            <ValidationMessage For="@(() => c.IMPROPER_RESTRAINT)"></ValidationMessage>
            <InputCheckbox class="form-control" @bind-Value="c.IMPROPER_RESTRAINT"></InputCheckbox>
        </div>
        <div class="form-group">
            <label>Unrestrained:</label>
            <ValidationMessage For="@(() => c.UNRESTRAINED)"></ValidationMessage>
            <InputCheckbox class="form-control" @bind-Value="c.UNRESTRAINED"></InputCheckbox>
        </div>
        <div class="form-group">
            <label>DUI:</label>
            <ValidationMessage For="@(() => c.DUI)"></ValidationMessage>
            <InputCheckbox class="form-control" @bind-Value="c.DUI"></InputCheckbox>
        </div>
        <div class="form-group">
            <label>Intersection Related:</label>
            <ValidationMessage For="@(() => c.INTERSECTION_RELATED)"></ValidationMessage>
            <InputCheckbox class="form-control" @bind-Value="c.INTERSECTION_RELATED"></InputCheckbox>
        </div>
        <div class="form-group">
            <label>Wild Animal Related:</label>
            <ValidationMessage For="@(() => c.WILD_ANIMAL_RELATED)"></ValidationMessage>
            <InputCheckbox class="form-control" @bind-Value="c.WILD_ANIMAL_RELATED"></InputCheckbox>
        </div>
        <div class="form-group">
            <label>Domestic Animal Related:</label>
            <ValidationMessage For="@(() => c.DOMESTIC_ANIMAL_RELATED)"></ValidationMessage>
            <InputCheckbox class="form-control" @bind-Value="c.DOMESTIC_ANIMAL_RELATED"></InputCheckbox>
        </div>
        <div class="form-group">
            <label>Rollover:</label>
            <ValidationMessage For="@(() => c.OVERTURN_ROLLOVER)"></ValidationMessage>
            <InputCheckbox class="form-control" @bind-Value="c.OVERTURN_ROLLOVER"></InputCheckbox>
        </div>
        <div class="form-group">
            <label>Commercial Vehicle Involved:</label>
            <ValidationMessage For="@(() => c.COMMERCIAL_MOTOR_VEH_INVOLVED)"></ValidationMessage>
            <InputCheckbox class="form-control" @bind-Value="c.COMMERCIAL_MOTOR_VEH_INVOLVED"></InputCheckbox>
        </div>
        <div class="form-group">
            <label>Teenage Driver Involved:</label>
            <ValidationMessage For="@(() => c.WORK_ZONE_RELATED)"></ValidationMessage>
            <InputCheckbox class="form-control" @bind-Value="c.TEENAGE_DRIVER_INVOLVED"></InputCheckbox>
        </div>
        <div class="form-group">
            <label>Older Driver Involved:</label>
            <ValidationMessage For="@(() => c.OLDER_DRIVER_INVOLVED)"></ValidationMessage>
            <InputCheckbox class="form-control" @bind-Value="c.OLDER_DRIVER_INVOLVED"></InputCheckbox>
        </div>
        <div class="form-group">
            <label>Nighttime Crash:</label>
            <ValidationMessage For="@(() => c.NIGHT_DARK_CONDITION)"></ValidationMessage>
            <InputCheckbox class="form-control" @bind-Value="c.NIGHT_DARK_CONDITION"></InputCheckbox>
        </div>
        <div class="form-group">
            <label>Single Vehicle:</label>
            <ValidationMessage For="@(() => c.SINGLE_VEHICLE)"></ValidationMessage>
            <InputCheckbox class="form-control" @bind-Value="c.SINGLE_VEHICLE"></InputCheckbox>
        </div>
        <div class="form-group">
            <label>Distracted Driving:</label>
            <ValidationMessage For="@(() => c.DISTRACTED_DRIVING)"></ValidationMessage>
            <InputCheckbox class="form-control" @bind-Value="c.DISTRACTED_DRIVING"></InputCheckbox>
        </div>
        <div class="form-group">
            <label>Drowsy Driving:</label>
            <ValidationMessage For="@(() => c.DROWSY_DRIVING)"></ValidationMessage>
            <InputCheckbox class="form-control" @bind-Value="c.DROWSY_DRIVING"></InputCheckbox>
        </div>
        <div class="form-group">
            <label>Roadway Departure:</label>
            <ValidationMessage For="@(() => c.ROADWAY_DEPARTURE)"></ValidationMessage>
            <InputCheckbox class="form-control" @bind-Value="c.ROADWAY_DEPARTURE"></InputCheckbox>
        </div>

    <button type="submit" class="btn btn-@ThemeColor">Save</button>
    <NavLink class="btn btn-secondary" href="/admin/crashes">Cancel</NavLink>

</EditForm>

@code {

    [Parameter]
    public int Id { get; set; } = 0;

    public string ThemeColor => Id == 0 ? "primary" : "warning";
    public string TitleText => Id == 0 ? "Add" : "Edit";

    public Crash c { get; set; } = new Crash();

    public ICrashesRepository repo => Service;

    protected override void OnParametersSet()
    {
        if (Id != 0) //Existing Crash
        {
            c = repo.Crashes.FirstOrDefault(x => x.CRASH_ID == Id);
        }
    }

    public void SaveCrash()
    {
        if (Id == 0) //New Crash
        {
            repo.CreateCrash(c);
        }
        else
        {
            repo.SaveCrash(c);
        }

        NavManager.NavigateTo("/admin/crashes");
    }

    [Inject]
    public NavigationManager NavManager { get; set; }

}
