
@model Crash
<h1>Crash Data</h1>

<table class="table table-bordered table-striped">

    <thead class="font-weight-bold">
        <tr>
            <td>Date</td>
            <td>Route</td>
            <td>Mile Point</td>
            <td>Latitude</td>
            <td>Longitude</td>
            <td>Street Name</td>
            <td>Severity Level</td>



        </tr>
    </thead>

    <tbody>


      
            <tr>
                <td>@Model.CRASH_DATETIME</td>
                <td>@Model.ROUTE</td>
                <td>@Model.MILEPOINT</td>
                <td>@Model.LAT_UTM_Y</td>
                <td>@Model.LONG_UTM_X</td>
                <td>@Model.MAIN_ROAD_NAME</td>
                <td>@Model.CRASH_SEVERITY_ID</td>

            </tr>

        




    </tbody>

</table>